* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif; }

header {
  width: 100%;
  color: #fff; }

.site-container {
  margin: 0;
  background-color: rgba(240, 240, 240, 0.4); }
  @media only screen and (min-width: 1010px) {
    .site-container {
      margin: 25px; } }

.content-wrapper {
  max-width: 380px;
  padding: 0 15px;
  margin: auto; }
  @media only screen and (min-width: 530px) {
    .content-wrapper {
      padding: 0 4%;
      max-width: 620px; } }
  @media only screen and (min-width: 800px) {
    .content-wrapper {
      padding: 0 2%;
      max-width: 760px; } }
  @media only screen and (min-width: 1010px) {
    .content-wrapper {
      padding: 0 8%;
      width: 100%;
      max-width: 1500px; } }
  @media only screen and (min-width: 1400px) {
    .content-wrapper {
      padding: 0 5%; } }

.flex-container--main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  /*max-width: 86%;*/
  /*margin: auto;*/ }
  @media only screen and (min-width: 1010px) {
    .flex-container--main-content {
      flex-direction: row; } }

.flex-container--align-center {
  display: flex;
  align-items: center; }

hr {
  background-color: rgba(20, 20, 20, 0.1);
  height: 1px;
  border: 0;
  margin: 2rem auto 2.5rem auto;
  width: 100%; }

.text-shadow {
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1), 5px 5px 20px rgba(0, 0, 0, 0.3), 2px 2px 10px rgba(0, 0, 0, 0.3); }

.marg-top-md {
  margin-top: 40px; }

.marg-top-btm-until-medium > * {
  margin-top: .5rem;
  margin-bottom: .5rem; }
  @media only screen and (min-width: 800px) {
    .marg-top-btm-until-medium > * {
      margin-top: 0;
      margin-bottom: 0; } }

.hidden {
  display: none; }

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .6s; }
  .modal--active {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); }

.banner {
  letter-spacing: 1px;
  line-height: 1.4rem;
  height: 19rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/hero--tiny.png");
  background-size: cover;
  background-position: top; }
  @media only screen and (min-width: 530px) {
    .banner {
      height: 18rem;
      background-image: url("../images/hero--small.png"); } }
  @media only screen and (min-width: 800px) {
    .banner {
      height: 20rem;
      background-image: url("../images/hero--full.png"); } }
  @media only screen and (min-width: 1010px) {
    .banner {
      height: 24rem;
      background-image: url("../images/hero--full.png"); } }
  .banner .banner__title {
    font-size: 2.13rem;
    margin-top: 5rem;
    margin-bottom: 1.3rem;
    letter-spacing: 1px; }
    @media only screen and (min-width: 530px) {
      .banner .banner__title {
        margin-top: 0; } }
    @media only screen and (min-width: 800px) {
      .banner .banner__title {
        font-size: 2.5rem; } }
  .banner .banner__subtitle {
    width: 70%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400; }
    @media only screen and (min-width: 800px) {
      .banner .banner__subtitle {
        font-size: 1.3rem; } }

.breadcrumbs a {
  text-decoration: none; }
  .breadcrumbs a:link {
    color: #0114b2; }
  .breadcrumbs a:visited {
    color: #000742; }

.breadcrumbs li {
  padding-right: .5em;
  letter-spacing: 1px;
  list-style: none;
  font-weight: bold;
  font-size: .75em;
  display: inline; }
  @media only screen and (min-width: 530px) {
    .breadcrumbs li {
      font-size: .9rem; } }

.breadcrumbs li:nth-child(even) {
  font-weight: normal; }

.flex-container--breadcrumbs-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media only screen and (min-width: 530px) {
    .flex-container--breadcrumbs-bar {
      justify-content: space-between; } }
  @media only screen and (min-width: 800px) {
    .flex-container--breadcrumbs-bar {
      display: flex;
      text-align: initial;
      flex-direction: row; } }
  .flex-container--breadcrumbs-bar .results-and-combo--wrapper {
    display: flex; }
  .flex-container--breadcrumbs-bar .results {
    font-size: .8rem;
    color: #888; }
    @media only screen and (min-width: 530px) {
      .flex-container--breadcrumbs-bar .results {
        font-size: .9rem; } }
  .flex-container--breadcrumbs-bar .sort-combobox {
    color: black;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    height: 30px;
    outline: none;
    transition: all .3s;
    text-align-last: center; }
  .flex-container--breadcrumbs-bar .sort-combobox:hover {
    color: white;
    background-color: #f22b7b; }
  .flex-container--breadcrumbs-bar option {
    color: black;
    font-weight: bold;
    background-color: #ddd;
    height: 30px; }

.navbar {
  z-index: 10;
  width: 100%;
  height: 3.5rem;
  position: fixed;
  background-color: #fff; }
  @media only screen and (min-width: 800px) {
    .navbar {
      height: 4rem; } }
  @media only screen and (min-width: 1010px) {
    .navbar {
      transform: scale(1);
      left: 0;
      margin: auto;
      color: #fff;
      background-color: rgba(30, 30, 30, 0.8);
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(50, 50, 50, 0.2));
      transition: all .1s ease-out;
      transform: translateY(-25px); } }
  .navbar .flex-container--navbar {
    display: flex;
    height: 100%;
    color: #000;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 20px; }
    @media only screen and (min-width: 1010px) {
      .navbar .flex-container--navbar {
        padding: 25px 20px;
        color: #fff; } }
  @media only screen and (min-width: 1010px) {
    .navbar.at-page-top {
      background-color: transparent;
      background-image: none;
      align-items: center;
      transform: scale(0.95);
      transition: all .35s ease-out; } }
  .navbar__logo {
    font-size: 1.45rem;
    line-height: 1.2rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif; }
    @media only screen and (min-width: 530px) {
      .navbar__logo {
        font-size: 1.8rem; } }
    @media only screen and (min-width: 800px) {
      .navbar__logo {
        font-size: 2rem; } }
  .navbar__buttons {
    max-height: 0;
    visibility: hidden;
    background-color: white;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    z-index: 6;
    width: 100%;
    top: 3.5rem;
    right: 0;
    transition: all .3s; }
    @media only screen and (min-width: 800px) {
      .navbar__buttons {
        width: 50%;
        top: 4rem; } }
    @media only screen and (min-width: 1010px) {
      .navbar__buttons {
        max-height: 100px;
        position: initial;
        top: initial;
        right: initial;
        background-color: transparent;
        visibility: visible;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        transition: none; } }
    .navbar__buttons.responsive {
      max-height: 270px;
      width: 100%;
      transition: all .4s ease-in-out; }
      @media only screen and (min-width: 800px) {
        .navbar__buttons.responsive {
          width: 50%;
          top: 4rem; } }
      @media only screen and (min-width: 1010px) {
        .navbar__buttons.responsive {
          display: none; } }
  .navbar__buttons--item {
    color: inherit;
    font-size: 1rem;
    text-decoration: none;
    background-color: white;
    text-shadow: none;
    width: 100%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.25rem;
    border-bottom: solid 1px black;
    padding: 1rem 8rem; }
    @media only screen and (min-width: 1010px) {
      .navbar__buttons--item {
        background-color: initial;
        flex-wrap: nowrap;
        border: none;
        padding: initial;
        margin: 0 2rem;
        font-size: 1.2rem;
        font-weight: 700; } }
    .navbar__buttons--item.responsive {
      width: 100%;
      flex: 1;
      visibility: visible; }
      .navbar__buttons--item.responsive:first-child {
        border-top: none; }
      .navbar__buttons--item.responsive:last-child {
        border-bottom: none; }
  .navbar__icon-buttons {
    display: flex;
    align-items: center; }
    .navbar__icon-buttons--item {
      color: inherit;
      font-size: 1.1rem;
      font-weight: 100;
      margin: 0 1rem; }
      @media only screen and (min-width: 530px) {
        .navbar__icon-buttons--item {
          font-size: 1.5rem;
          font-weight: 400; } }
  .navbar__menu-icon {
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 18px;
    width: 28px;
    margin-left: .9rem; }
    @media only screen and (min-width: 1010px) {
      .navbar__menu-icon {
        display: none; } }
    .navbar__menu-icon__bar {
      width: 100%;
      height: 2px;
      background-color: black;
      border-radius: 25%; }

.sidebar {
  width: 100%;
  flex-direction: row; }
  @media only screen and (min-width: 530px) {
    .sidebar {
      flex-direction: row; } }
  @media only screen and (min-width: 1010px) {
    .sidebar {
      flex-direction: column;
      flex: 1;
      max-width: 20%;
      margin: 0 3.2rem 0 0; } }
  @media only screen and (min-width: 1400px) {
    .sidebar {
      margin: 0 3.2rem 0 0; } }
  .sidebar__section {
    margin-bottom: 1rem; }
    .sidebar__section--title {
      color: #888;
      font-size: 1rem;
      margin-bottom: 1.2rem; }
    @media only screen and (min-width: 1010px) {
      .sidebar__section {
        margin-bottom: 2.2rem; } }
    .sidebar__section .product-category__label {
      margin: .4rem 0; }
    .sidebar__section > a {
      font-size: 1rem;
      text-decoration: none;
      color: black; }
      .sidebar__section > a:hover {
        color: #f22b7b;
        transition: all .3s; }

.results-gallery {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: stretch;
  margin-top: 15px; }
  @media only screen and (min-width: 800px) {
    .results-gallery {
      margin: auto; } }
  @media only screen and (min-width: 1010px) {
    .results-gallery {
      flex: 3; } }

.gallery-element {
  display: flex;
  background-color: white;
  padding: 30px;
  height: 300px;
  margin: 20px 0;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 2px 10px 50px 10px rgba(40, 40, 40, 0.1);
  transition: all .2s; }
  @media only screen and (min-width: 530px) {
    .gallery-element {
      flex-basis: 49%;
      height: 350px;
      margin: 5px 0; } }
  @media only screen and (min-width: 800px) {
    .gallery-element {
      flex-basis: 49%;
      margin-bottom: 2%; } }
  @media only screen and (min-width: 1010px) {
    .gallery-element {
      margin-bottom: 6%;
      max-height: 400px;
      margin-bottom: 0.5%; } }
  @media only screen and (min-width: 1400px) {
    .gallery-element {
      flex-basis: 32%;
      margin-bottom: 2%;
      max-height: 400px;
      margin-bottom: 0.5%; } }
  .gallery-element__img-wrapper {
    width: 80%;
    margin: auto;
    overflow: hidden; }
    @media only screen and (min-width: 530px) {
      .gallery-element__img-wrapper {
        width: 100%;
        height: 100%; } }
  .gallery-element__img {
    width: 100%; }

.gallery-element:hover {
  transform: scale(1.1);
  box-shadow: 2px 10px 80px 13px rgba(40, 40, 40, 0.15);
  transition: all .3s ease-in-out; }

.color-widget {
  border-radius: 20px;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0;
  padding: 0; }

.color-widget > a {
  margin: 0;
  padding: 0;
  font-size: 0; }

.color-widget.color-widget--black {
  background-color: black; }

.color-widget.color-widget--blue {
  background-color: blue; }

.color-widget.color-widget--gray {
  background-color: #ccc; }

.color-widget.color-widget--green {
  background-color: green; }

.color-widget.color-widget--red {
  background-color: red; }

.color-widget.color-widget--purple {
  background-color: purple; }

.quantity-badge {
  float: right;
  font-size: 12px;
  background-color: #ddd;
  border-radius: 10px;
  width: 15px;
  text-align: center; }

#slider-range {
  height: 5px;
  margin: 20px 0 20px 8px;
  width: 97%;
  background-color: #ddd;
  border: none; }
  @media only screen and (min-width: 1010px) {
    #slider-range {
      width: 90%; } }
  #slider-range .ui-slider-handle {
    background-color: red;
    border-width: 10px;
    border-color: red;
    border-radius: 10px;
    border-style: solid;
    top: -8px;
    outline: none;
    transition: transform .1s, background-color .1s; }
  #slider-range .ui-slider-handle.selected {
    background-color: white;
    border-color: red;
    border-width: 1px;
    outline: none;
    transform: scale(1.15);
    transition: transform .1s ease-in, background-color .15s ease-out; }

.ui-slider-range {
  background-color: red;
  height: 6px; }

.price-range-and-filter-wrapper {
  display: flex;
  justify-content: space-between; }

#amount {
  width: 100%; }

#filter-button {
  margin-top: 15px; }
