nav {
    .flex-container--navbar {
        padding: 25px 20px;
        display: flex;
        color: #fff;
        justify-content: space-between;
        align-items: center;
    }

    &.navbar {
        width: 100%;
        position: fixed;
        transform: scale(1);
        left: 0;
        margin: auto;
        background-color: rgba(30, 30, 30, 0.8);
        background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(50, 50, 50, .2));
        transition: all .3s ease-in-out;
        transform: translateY(-30px);

        .logo {
            font-size: 2rem;
            font-style: italic;
        }

        &.at-page-top {
            background-color: transparent;
            background-image: none;
            transform: scale(.95);
            transition: all .3s ease-in-out;
        }

        .nav-buttons > a {
            color: inherit;
            margin: 0 10px;
            text-decoration: none;
            font-size: 1.1rem;
        }
    }
}